@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --clr-primary: #007af3;
  --clr-darker-primary: #0063c7;
  --clr-bg: #f2f2f2;
  --clr-font: #ffffff;
  --clr-darker-font: #303030;
  --font-size-header: clamp(2rem, 5vw, 3rem);
  --font-size-text: clamp(1rem, 2vw, 1.2rem);
  --font-size-btn: clamp(.9rem, 2vw, 1.2rem);
  --width-ideal: 430px;
}

body {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 1em;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--clr-bg);
  min-width: var(--width-ideal);
}

body header h1 {
  margin: .2em 0;
  font-style: italic;
  font-size: var(--font-size-header);
  color: var(--clr-font);
  /* styling the grey clashing background */
  position: relative;
}

body header h1::before {
  content: '';
  position: absolute;
  top: -3em;
  bottom: 0;
  left: -2em;
  right: 0;
  height: 360%;
  width: calc(var(--width-ideal) + 50px);
  border-radius: 3em;
  background-color: #b8b8b8;
  z-index: -1;
}

body header h1 span {
  color: var(--clr-primary);
}

body input {
  border-style: solid;
  border-color: var(--clr-primary);
  border-width: 1px;
  border-radius: 1em;
  font-family: inherit;
  font-size: var(--font-size-text);
  padding-left: .8em;
  width: clamp(300px, 77vw, 500px);
  height: clamp(2em, 5vw, 2.5em);
}

body section.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1vw;
  margin-top: .4em;
}

body section.buttons button {
  font-family: inherit;
  font-weight: bold;
  font-size: var(--font-size-btn);
  padding: .4em .7em;
  border-style: none;
  border-radius: 2em;
  color: var(--clr-font);
  background-color: var(--clr-primary);
}

body section.buttons button:hover, body section.buttons button:focus {
  cursor: pointer;
  background-color: var(--clr-darker-primary);
}

body section.buttons button.clear-btn {
  background-color: var(--clr-bg);
  border: 0.1em solid var(--clr-primary);
  color: var(--clr-primary);
}

body section.buttons button.clear-btn:hover, body section.buttons button.clear-btn:focus {
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-font);
}

body section.leads ul {
  padding-left: 2em;
}

body section.leads ul p {
  font-size: var(--font-size-text);
  color: #fd3c3c;
}

body section.leads ul li {
  margin-bottom: .4em;
  font-size: var(--font-size-text);
  white-space: nowrap;
  position: relative;
  /* checkmark marker */
}

body section.leads ul li::marker {
  font-size: 1.4rem;
  color: var(--clr-primary);
}

body section.leads ul li a {
  left: -.3em;
  top: -.2em;
  color: var(--clr-darker-font);
  /* bold and underline ease-in */
  /* sliding text color (technique 3:clip-path)
                     * src: https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/
                     */
  text-decoration: none;
  position: relative;
}

body section.leads ul li a::before {
  content: attr(data-content);
  position: absolute;
  text-decoration: underline;
  color: var(--clr-primary);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 200ms ease-in-out;
  transition: -webkit-clip-path 200ms ease-in-out;
  transition: clip-path 200ms ease-in-out;
  transition: clip-path 200ms ease-in-out, -webkit-clip-path 200ms ease-in-out;
}

body section.leads ul li a:hover::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
/*# sourceMappingURL=index.css.map */